<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Сотрудники</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>





<body>

  <script src="app/app.component.ts"></script>
  <div class="flex-container">
    <div class="flex-item:nth-child(1)">
      <h1> Список сотрудников </h1>
    </div>

    <div class="panel">

      <div class="form-inline flex-item:nth-child(2)">
        <div class="form-group">
          <div class="col-md-8">
            <input type="number" class="form-control" [(ngModel)]="id" placeholder="id" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <input type="string" class="form-control" [(ngModel)]="firstName" placeholder="Имя" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <input type="string" class="form-control" [(ngModel)]="lastName" placeholder="Фамилия" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="addItem(id, firstName, lastName)">Добавить сотрудника</button>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let Worker of test">
            <td>{{Worker.id}}</td>
            <td>{{Worker.firstName}}</td>
            <td>{{Worker.lastName}}</td>
            <td class="btn btn-sm img-btn-edit" data-target="#staticBackdrop">
            </td>
            <td class="btn btn-default img-btn-delete" data-target="#staticBackdrop"></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>
